@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: "Poppins", system-ui;
    color: #333;
}

.container-icon{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.container-icon:hover{
    cursor: pointer;
}

.img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../Img/fondo\ 3.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div{
    height: 100px;
}

.img{
    width: 150px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #c28832a8;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.Contenedor-de-contacto{
    padding: 3em;
    margin: 0 auto;
}

.Form-control{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.Form-control input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #5e3c16;
    color: #1f1f1f;
}

.Form-control textarea{
    height: 150px;
    background: none;
    color: #353535;
    padding: 1.5em;
    border: 1px solid #794407;
}

.Btn-enviar{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #5e3c16;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(146, 116, 59, 0.69);
}

.Btn-enviar:hover{
    background-color: rgb(247, 218, 191);
    box-shadow: none;
}

.footer{
    padding: 100px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.link h3{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}